#videoContainer {
  width: 700px;
  margin: 30px auto; }
  #videoContainer .front-img {
    width: 100%;
    height: 1000%; }

progress {
  margin-top: -4px;
  display: block;
  width: 100%;
  height: 10px;
  -webkit-appearance: none; }
  progress span {
    height: 10px;
    width: 0%;
    height: 10px;
    display: inline-block;
    background-color: #ff005a; }

progress::-webkit-progress-bar {
  background-color: #535353;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

progress::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #09c, #f44);
  border-radius: 0;
  background-size: 35px 20px, 100% 100%, 100% 100%; }

.controls {
  position: relative; }
  .controls ul {
    background: #181818;
    margin: 0;
    text-align: center;
    list-style: none;
    padding: 17px 0;
    margin: 0; }
    .controls ul li {
      display: inline-block;
      vertical-align: middle;
      font-size: 0;
      padding: 0;
      margin: 0 18px; }
    .controls ul button {
      background: transparent;
      border: none;
      color: white;
      font-size: 0;
      padding: 0;
      margin: 0;
      display: block;
      cursor: pointer; }
      .controls ul button img {
        display: block; }
      .controls ul button[data-state="play"] img:first-child {
        display: none; }
      .controls ul button[data-state="pause"] img:last-child {
        display: none; }
  .controls .left,
  .controls .right {
    display: inline-block;
    color: #fff;
    top: 18px;
    position: absolute;
    font-size: 13px;
    font-family: 'Arial'; }
  .controls .left {
    left: 10px; }
  .controls .right {
    right: 10px;
    opacity: 0.8; }
