$pink: #ff005a;
$black: #181818;
$white: #fff;
#videoContainer {
    width: 700px;
    margin: 30px auto;

   .front-img {
   	width: 100%;
   	height: 1000%;

   }
}

progress {
    margin-top: -4px;
    display: block;
    width: 100%;
    height: 10px; 
    -webkit-appearance: none;
    span {
        height: 10px;
        width: 0%;
        height: 10px;
        display: inline-block;
        background-color: $pink;
    }
}

progress::-webkit-progress-bar {
    background-color: #535353;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #09c, #f44);
    border-radius: 0;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.controls {
    position: relative;
    ul {
        background: $black;
        margin: 0;
        text-align: center;
        list-style: none;
        padding: 17px 0;
        margin: 0;
        li {
            display: inline-block;
            vertical-align: middle;
            font-size: 0;
            padding: 0;
            margin: 0 18px;
        }
        button {
            background: transparent;
            border: none;
            color: white;
            font-size: 0;
            padding: 0;
            margin: 0;
            display: block;
            cursor: pointer;
            img {
                display: block;
            }
            &[data-state="play"] {
                img {
                    &:first-child {
                        display: none;
                    }
                }
            }
            &[data-state="pause"] {
                img {
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
    .left,
    .right {
        display: inline-block;
        color: #fff;
        top: 18px;
        position: absolute;
        font-size: 13px;
        font-family: 'Arial';
    }
    .left {
        left: 10px;
    }
    .right {
        right: 10px;
        opacity: 0.8;
    }
}